@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  color: #08baff;
  font-weight: bold;
}

.active:hover {
  border-color: #08baff;
}

.hover\:border-b-white:hover {
  border-color: white;
}

.dashnav > .active {
  color: black;
  background-color: white;
}